#!/bin/sh
#
#	$NetBSD$

# Assumption - boot.cfg loads this ramdisk.
# Assumption - network is configurable with any interface over DHCP.
# Assumption - there is enough RAM for /tmp.
# Assumption - the size and partitioning is identical for every disk.
# Assumption - every disk found is active and added to the pool.
# Assumption - pool layout: 1 simple, 2 mirror, 3-4 raidz1, 5-6 raidz2, 7+ raidz3.
# Assumption - the root pool is set to legacy mount.

# Configurable - define the ZFS root pool and ROOT.
# XXX Can these be set in boot.cfg?
rpool=rpool
rroot=ROOT

# Configurable - additional settings.
dldir="/tmp"
ffsver=2
hostname=$(/usr/bin/uname -n)
kernel="GENERIC"
kernelext=".gz"
machine=$(/usr/bin/uname -m)
osname=$(/usr/bin/uname -s)
osver=$(/usr/bin/uname -r)
osver=${osver%%_*}
backtitle="$osname root on ZFS installer"
# XXX https is not supported
mirror="http://ftp.NetBSD.org/pub/$osname/$osname-$osver"
modules="solaris zfs"
network=1
progname="zfsinstall"
ramdisk="zfsroot"
ramdiskext=".fs"
setext=".tar.xz"
sets="base comp etc games gpufw man manhtml misc modules rescue text"
verbose=1

case "$osver" in
	9.*)
		sets="base comp etc games man misc modules rescue text"
		;;
	10.*)
		sets="base comp etc games gpufw man misc modules rescue text"
		;;
	*)
		;;
esac

# Commands
cmdbsddialog="/usr/bin/bsddialog"
cmdcp="/bin/cp -v"
cmddhcpcd="/sbin/dhcpcd"
cmdftp="/usr/bin/ftp -v"
cmdinstallboot="/usr/sbin/installboot -v"
cmdnewfs="/sbin/newfs -V $verbose"
cmdprogress="/usr/bin/progress"
cmdrm="/bin/rm -v"
cmdsysctl="/sbin/sysctl"
cmdtar="/usr/bin/tar"

# Error messages
errdlkern="Could not download kernel:"
errdlramdisk="Could not download ramdisk:"
errdlset="Could not download set:"
errformat="Could not format a disk"
errinstboot="Could not install the bootloader"
errinstkern="Could not install kernel:"
errinstmodules="Could not install the modules"
errinstramdisk="Could not install ramdisk:"
errinstset="Could not install set:"
errmkdev="Could not create a device node"
errmkdir="Could not create a directory"
errmount="Could not mount a partition"
errnetwork="Could not configure the network"
errnodisk="Could not detect any usable disk"
errpartition="Could not partition disk:"
errtmpfs="Could not mount a tmpfs volume"
errumount="Could not unmount a partition"
erruser="Installation aborted by the user"
errzfsset="Could not set a ZFS property"


# Functions
_abort() {
	[ $# -gt 1 ] && _error "$@"
	_info "Restarting the installer..."
	sleep 1
	_reset
	exec /bin/sh /etc/rc
}

_confirm() {
	if [ -x "$cmdbsddialog" ]; then
		$cmdbsddialog \
			--backtitle "$backtitle" \
			--title "Question" \
			--default-no --yesno "$*" 21 78
	else
		echo "$backtitle"
		rep=$(echo -n "$backtitle" | wc -c)
		i=0
		while [ $i -lt $rep ]; do
			echo -n "="
			i=$((i + 1))
		done
		echo
		echo
		echo "Question"
		echo "--------"
		echo
		echo "$@"
		echo
		echo -n "Enter \"Yes\" to continue: "
		read ans
		case $(echo "$ans" | tr A-Z a-z) in
			y|yes)
				return 0
				;;
			*)
				return 1
				;;
		esac
	fi
}

_copy() {
	src="$1"
	dst="$2"

	if [ -x "$cmdprogress" ]; then
		$cmdprogress -ef "$src" /bin/cat > "$dst"
	else
		_runcmd $cmdcp "$src" "$dst"
	fi
}

_download() {
	url="$1"

	[ $network -eq 0 ] || (cd "$dldir" && $cmdftp "$url")
}

_extract_set() {
	destdir="$1"
	set="$2"

	if [ $network -eq 0 ]; then
		_extract "$destdir" "/cdrom/$machine/binary/sets/$set$setext"
	else
		_extract "$destdir" "$dldir/$set$setext"
	fi
}

_error() {
	if [ -x "$cmdbsddialog" ]; then
		$cmdbsddialog \
			--backtitle "$backtitle" \
			--title "Error" --msgbox "$*" 21 78
		[ $? -eq 0 ] || echo "$progname: $*" 1>&2
	else
		echo "$backtitle"
		rep=$(echo -n "$backtitle" | wc -c)
		i=0
		while [ $i -lt $rep ]; do
			echo -n "="
			i=$((i + 1))
		done
		echo
		echo
		echo "Error"
		echo "-----"
		echo
		echo "$@"
		echo
		echo -n "Press ENTER to continue" 1>&2
		read ans
	fi
	return 2
}

_extract() {
	destdir="$1"
	archive="$2"

	if [ -x "$cmdprogress" ]; then
		(cd "$destdir" && $cmdprogress -zf "$archive" $cmdtar xpf -)
	else
		(cd "$destdir" && _runcmd $cmdtar xzpf "$archive")
	fi
}

_info() {
	if [ -x "$cmdbsddialog" ]; then
		$cmdbsddialog \
			--backtitle "$backtitle" \
			--infobox "$*" 21 78
		[ $? -eq 0 ] || echo "$progname: $*"
	else
		echo "$progname: $@"
	fi
}

_install_kernel() {
	destdir="$1"
	kernel="$2"

	if [ $network -eq 0 ]; then
		_copy "/cdrom/$machine/binary/kernel/netbsd-$kernel$kernelext" \
			"$destdir/netbsd$kernelext"
	else
		_copy "$dldir/netbsd-$kernel$kernelext" \
			"$destdir/netbsd$kernelext"
	fi
}

_install_ramdisk() {
	destdir="$1"
	ramdisk="$2"

	if [ $network -eq 0 ]; then
		_copy "/cdrom/$machine/installation/ramdisk/ramdisk-$ramdisk$ramdiskext" \
			"$destdir/ramdisk-$ramdisk$ramdiskext"
	else
		_copy "$dldir/ramdisk-$ramdisk$ramdiskext" \
			"$destdir/ramdisk-$ramdisk$ramdiskext"
	fi
}

_network() {
	_info "Configuring the network"
	_runcmd $cmddhcpcd --waitip=4
	hostname=$(/usr/bin/uname -n)
}

_remove() {
	file="$1"

	#FIXME implement for just-in-time downloads
	#XXX ignore errors
	_runcmd $cmdrm "$1" || true
}

_reset() {
	_runcmd /sbin/umount /altroot
	_runcmd /sbin/umount /cdrom
	_runcmd /sbin/umount /etc
	_runcmd /sbin/umount /tmp
	_runcmd /sbin/umount /var
}

_runcmd() {
	if [ $verbose -ge 2 ]; then
		echo "$@" 1>&2
		"$@"
	elif [ $verbose -eq 1 ]; then
		"$@"
	else
		"$@" > /dev/null
	fi
}

_zfsinstall() {
	if [ -x "$cmdbsddialog" ]; then
		$cmdbsddialog \
			--backtitle "$backtitle" \
			--title "Question" \
			--no-label "Shell" --yes-label "Install" \
			--yesno "Choose \"Install\" to install NetBSD with the root filesystem on a ZFS pool,
	or \"Shell\" to enter rescue mode." 21 78
		if [ $? -ne 0 ]; then
			/bin/sh
			return 0
		fi
	else
		_confirm "This will install NetBSD with the root filesystem on a ZFS pool."
		[ $? -eq 0 ]					|| _abort $erruser
	fi

	# Locate the disks
	disks=
	dkidx=0
	sep=
	cnt=0
	for disk in $disknames; do
		case $disk in
			dk*)
				# XXX assumes growing order
				dkidx=${disk#dk}
				dkidx=$((dkidx + 1))
				;;
			ld*|wd*)
				disks="$disks$sep$disk"
				sep=' '
				cnt=$((cnt + 1))
				;;
		esac
	done

	pool=
	case $cnt in
		0)
			_abort $errnodisk
			;;
		1)
			;;
		2)
			pool="mirror"
			;;
		3|4)
			pool="raidz1"
			;;
		5|6)
			pool="raidz2"
			;;
		*)
			pool="raidz3"
			;;
	esac
	_info "Detected $cnt disks: $disks"

	# Count the sets
	setcnt=0
	for set in $sets; do
		setcnt=$((setcnt + 1))
	done

	if [ $network -ne 0 ]; then
		# Download the sets, kernel, and ramdisk to RAM
		seti=0
		for set in $sets; do
			seti=$((seti + 1))
			_info "Downloading set: $set ($seti/$setcnt)"
			seturl="$mirror/$machine/binary/sets/$set$setext"
			_download "$seturl"			|| _abort $errdlset $set
		done
		_info "Downloading kernel: $kernel"
		kernurl="$mirror/$machine/binary/kernel/netbsd-$kernel$kernelext"
		_download "$kernurl"				|| _abort $errdlkern $kernel
		_info "Downloading ramdisk: $ramdisk"
		ramdiskurl="$mirror/$machine/installation/ramdisk/ramdisk-$ramdisk$ramdiskext"
		_download "$ramdiskurl"				|| _abort $errdlramdisk $ramdisk
	fi

	_confirm "This will erase and partition the following disks: $disks"
	[ $? -eq 0 ]						|| _abort $erruser

	# Count the disks
	diskcnt=0
	for disk in $disks; do
		diskcnt=$((diskcnt + 1))
	done

	# Partition the disks
	diski=0
	vdevs=
	sep=
	for disk in $disks; do
		diski=$((diski + 1))

		# Partition the disk
		_info "Partitioning disk $disk ($diski/$diskcnt)"
		_runcmd /sbin/gpt create $disk			|| _abort $errpartition $disk
		_runcmd /sbin/gpt add -a 1m -s 512m -t efi $disk|| _abort $errpartition $disk
		_runcmd /sbin/gpt add -a 1m -s 512m -t ffs $disk|| _abort $errpartition $disk
		_runcmd /sbin/gpt add -a 1m -t zfs $disk	|| _abort $errpartition $disk
		_runcmd /sbin/gpt biosboot -i 2 $disk		|| _abort $errpartition $disk

		# Format the partitions
		_info "Formatting partition: dk$dkidx (EFI)"
		_runcmd /sbin/newfs_msdos /dev/rdk$dkidx	|| _abort $errformat
		_info "Formatting partition: dk$((dkidx + 1)) (FFSv$ffsver)"
		_runcmd $cmdnewfs -O $ffsver /dev/rdk$((dkidx + 1)) \
								|| _abort $errformat

		# Setup the EFI partition
		_info "Setting up partition: dk$dkidx (EFI)"
		_runcmd /sbin/mount /dev/dk$dkidx /altroot	|| _abort $errmount
		_runcmd /bin/mkdir -p /altroot/EFI/boot		|| _abort $errmkdir
		_copy /usr/mdec/bootx64.efi \
			/altroot/EFI/boot/bootx64.efi		|| _abort $errinstboot
		_copy /usr/mdec/bootia32.efi \
			/altroot/EFI/boot/bootia32.efi		|| _abort $errinstboot
		_runcmd /sbin/umount /altroot			|| _abort $errumount

		# Setup the NetBSD boot partition
		_info "Setting up partition: dk$((dkidx + 1)) (FFSv$ffsver)"
		_runcmd /sbin/mount /dev/dk$((dkidx + 1)) \
			/altroot				|| _abort $errmount
		cat > /altroot/boot.cfg << EOF
menu=Boot normally:rndseed /etc/entropy-file;load solaris;load zfs;fs /ramdisk-$ramdisk$ramdiskext;boot netbsd$kernelext
menu=Boot single user:rndseed /etc/entropy-file;load solaris;load zfs;fs /ramdisk-$ramdisk$ramdiskext;boot netbsd$kernelext -s
menu=Drop to boot prompt:prompt
default=1
timeout=5
clear=1
EOF
		_info "Installing kernel: $kernel"
		_install_kernel /altroot "$kernel"		|| _abort $errinstkern $kernel
		_info "Installing ramdisk: $ramdisk"
		_install_ramdisk /altroot "$ramdisk"		|| _abort $errinstramdisk $ramdisk
		_info "Installing modules:"
		_extract_set /altroot "modules"			|| _abort $errinstmodules
		_info "Installing bootloader:"
		_copy /usr/mdec/boot /altroot/boot		|| _abort $errinstboot
		_runcmd /sbin/umount /altroot			|| _abort $errumount
		$cmdinstallboot -m "$machine" /dev/dk$((dkidx + 1)) \
			/usr/mdec/bootxx_ffsv$ffsver		|| _abort $errinstboot
		vdevs="$vdevs${sep}dk$((dkidx + 2))"
		sep=' '
		dkidx=$((dkidx + 3))
	done

	# Create the ZFS pool
	_info "Creating ZFS pool: $rpool"
	_runcmd /sbin/zpool create -f "$rpool" $pool $vdevs	|| _abort
	_info "Creating ZFS volume: $rpool/$rroot"
	_runcmd /sbin/zfs create "$rpool/$rroot"		|| _abort
	_runcmd /sbin/zfs set mountpoint=legacy "$rpool/$rroot"	|| _abort $errzfsset
	_info "Mounting ZFS volume: $rpool/$rroot on /altroot"
	_runcmd /sbin/mount -t zfs "$rpool/$rroot" /altroot	|| _abort $errmount

	# Install the sets
	seti=0
	for set in $sets; do
		seti=$((seti + 1))
		_info "Installing set: $set ($seti/$setcnt)"
		_extract_set /altroot "$set"			|| _abort $errinstset $set
	done

	# Configure the system
	_runcmd /bin/mkdir -p /altroot/kern /altroot/proc	|| _abort $errmkdir
	cat > /altroot/etc/fstab << EOF
rpool/ROOT / zfs rw
kernfs /kern kernfs rw
ptyfs /dev/pts ptyfs rw
procfs /proc procfs rw
tmpfs /var/shm tmpfs rw,-m1777,-sram%25
EOF
	(cd /altroot/dev && _runcmd ./MAKEDEV all)		|| _abort $errmkdev
	cat >> /altroot/etc/rc.conf << EOF
rc_configured=YES

hostname="$hostname"
no_swap=YES
zfs=YES

#services
dhcpcd=YES
inetd=NO
sshd=YES
EOF

	# Export the ZFS pool
	_runcmd /sbin/umount /altroot				|| _abort $errumount
	_info "Exporting ZFS pool: $rpool"
	_runcmd /sbin/zpool export "$rpool"			|| _abort

	# Reset the environment
	_reset

	# Start the system like zfsroot.rc
	_info "Importing ZFS pool: $rpool"
	_runcmd /sbin/zpool import -f -N "$rpool"		|| _abort

	_info "Mounting ZFS volume: $rpool/$rroot on /altroot"
	_runcmd /sbin/mount -t zfs "$rpool/$rroot" /altroot	|| _abort $errmount

	_info "Restarting init"
	_runcmd $cmdsysctl -w init.root=/altroot		|| _abort

	# Boot the new system in place
	exit 0
}


# Setup some stuff in case things go south and we drop to the shell
PATH=/sbin:/bin:/usr/sbin:/usr/bin
export PATH

# Check if we are on a framebuffer or on serial console and default
# the terminal type accordingly.
# There is no /var/db/dev.cdb, so sysctl might not map the devicename properly;
# ttyE0 is 90,0 -> 0x5a00
case $(/sbin/sysctl -nx kern.consdev) in
	002f000000000000)
		TERM=wsvt25
		verbose=0
		;;
	*)
		TERM=vt220
		cmdbsddialog="/nonexistent"
		;;
esac
export TERM

if [ $verbose -eq 0 ]; then
	cmdcp="/bin/cp"
	cmddhcpcd="/sbin/dhcpcd -q"
	cmdinstallboot="/usr/sbin/installboot"
	cmdnewfs="/sbin/newfs -V $verbose"
	cmdrm="/bin/rm"
	cmdsysctl="/sbin/sysctl -q"
fi

HOME=/
export HOME

umask 022

# Obtain the terminal emulation
stty newcrt werase ^W intr ^C kill ^U erase ^?
if [ $TERM != "wsvt25" ]; then
	cat << "EOM"


You are using a serial console, we do not know your terminal emulation.
Please select one, typical values are:

	vt100
	ansi
	xterm

EOM
	echo -n "Terminal type (just hit ENTER for '$TERM'): "
	read ans
	if [ -n "$ans" ];then
	    TERM=$ans
	fi
fi

# Mount a few tempfs to allow modifications over the ramdisk contents
_runcmd mount -t tmpfs -o -m=1777 tmpfs /tmp		|| _abort $errtmpfs
_runcmd mount -t tmpfs tmpfs /var			|| _abort $errtmpfs
_runcmd mount -t tmpfs -o union tmpfs /etc		|| _abort $errtmpfs

# Prepare important directories in the tmpfses, so dhcpcd and vi will work
_runcmd /bin/mkdir -p /var/run /var/db /var/tmp		|| _abort $errmkdir

# Look for bootable media
disknames=$(/sbin/sysctl -n hw.disknames)
for disk in $disknames; do
	case $disk in
		cd*)
			_runcmd /bin/mkdir -p /cdrom	|| _abort $errmkdir
			_runcmd /sbin/mount -t cd9660 /dev/${disk}a /cdrom || continue
			if [ -d "/cdrom/$machine/binary/sets" ]; then
				_info "Found the installation media ($disk)"
				network=0
			else
				_runcmd /sbin/umount /cdrom
			fi
			;;
	esac
done

if [ $network -ne 0 ]; then
	_network					|| _abort $errnetwork
fi

while true; do
	_zfsinstall
	_info "Restarting the installer..."
	sleep 1
done
